# Python
__pycache__/
*.pyc
venv/
*.egg-info/

# Data & Derivatives
# These lines prevent you from accidentally committing large data files
data/
derivatives/
analysis_output/
out/
*.nii.gz
*.png
*.gif
*.csv
*.txt

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
